depricated/
Hists/
imgs/
.vscode/
*_files/

*.ps
*.pdf
*.gif
*.png
*.jpg

env.sh

*.d
*.so
*.pcm
*.o
*.a

*.tar*
*.gz

*.root
*.out
*.dat

*install*
*build*

#executables
hfreader
install/*

CMakeCache.txt
CMakeFiles/
*cmake*
Makefile
makefile

.rootlogon.C
clean.sh
