depricated/
Hists/
imgs/
Imgs/
TSV/
output/

.vscode/
*_files/

*.tsv

*/fromRobert/
*.summary

*.ps
*.pdf
*.gif
*.png
*.jpg

env.sh

*.d
*.so
*.pcm
*.o
*.a

*.tar*
*.gz

*.root
*.out
*.dat

HFCalculations/*dist.txt
HF_files.txt

*install*
*build*

#executables
hfreader
install/*

CMakeCache.txt
CMakeFiles/
*cmake*
Makefile
makefile

.rootlogon.C
clean.sh
